<a href="https://colab.research.google.com/github/sandeepProject/ICTTestRepo/blob/main/Day11_IntermediateAssessment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Intermediate Assessment 01
1. Analyzing Sales Data in an E-commerce Store
Context
You are a Data Analyst at "ShopEase," an online retail store. The
company wants a preliminary analysis of customer purchases to
identify trends and automate simple summary analytics. You have
been provided with a basic CSV of sales transactions (to be simulated
by creating a list of dictionaries in Python).<br>
1.1 Simulate a dataset of 10 sales records as a list of dictionaries.
Each sale should contain: order_id (int), customer (str), item (str),
quantity (int), price_per_item (float, in INR), order_date (str,
'YYYY-MM-DD')
Task:
Write a snippet to create this data. Print out the dataset

In [1]:
# Dataset of 10 sales records as a list of dictionaries

sales_Data = [
    {'order_id': 1001, 'customer': 'Sandeep', 'item': 'Dell Laptop', 'quantity': 1, 'price_per_item': 75000.00, 'order_date': '25-11-2025'},
    {'order_id': 1002, 'customer': 'Deepasree', 'item': 'Sony Headphones', 'quantity': 2, 'price_per_item': 1500.00, 'order_date': '26-11-2025'},
    {'order_id': 1003, 'customer': 'Ahalya', 'item': 'Apple Smartphone', 'quantity': 1, 'price_per_item': 45000.00, 'order_date': '26-11-2025'},
    {'order_id': 1004, 'customer': 'Aifa', 'item': 'Phone Charger', 'quantity': 3, 'price_per_item': 500.00, 'order_date': '27-11-2025'},
    {'order_id': 1005, 'customer': 'Amalna', 'item': 'Dell Laptop', 'quantity': 1, 'price_per_item': 75000.00, 'order_date': '28-11-2025'},
    {'order_id': 1006, 'customer': 'Aravind', 'item': 'Logitec Mouse', 'quantity': 1, 'price_per_item': 800.00, 'order_date': '28-11-2025'},
    {'order_id': 1007, 'customer': 'Megha', 'item': 'Logitec Keyboard', 'quantity': 1, 'price_per_item': 1200.00, 'order_date': '29-11-2025'},
    {'order_id': 1008, 'customer': 'Mridula', 'item': 'Apple Smartphone', 'quantity': 2, 'price_per_item': 45000.00, 'order_date': '29-11-2025'},
    {'order_id': 1009, 'customer': 'Saranya', 'item': 'Sony Headphones', 'quantity': 1, 'price_per_item': 1500.00, 'order_date': '30-11-2025'},
    {'order_id': 1010, 'customer': 'Irene', 'item': 'Dell Laptop', 'quantity': 1, 'price_per_item': 75000.00, 'order_date': '30-11-2025'}
]

for record in sales_Data:
    print(record)

{'order_id': 1001, 'customer': 'Sandeep', 'item': 'Dell Laptop', 'quantity': 1, 'price_per_item': 75000.0, 'order_date': '25-11-2025'}
{'order_id': 1002, 'customer': 'Deepasree', 'item': 'Sony Headphones', 'quantity': 2, 'price_per_item': 1500.0, 'order_date': '26-11-2025'}
{'order_id': 1003, 'customer': 'Ahalya', 'item': 'Apple Smartphone', 'quantity': 1, 'price_per_item': 45000.0, 'order_date': '26-11-2025'}
{'order_id': 1004, 'customer': 'Aifa', 'item': 'Phone Charger', 'quantity': 3, 'price_per_item': 500.0, 'order_date': '27-11-2025'}
{'order_id': 1005, 'customer': 'Amalna', 'item': 'Dell Laptop', 'quantity': 1, 'price_per_item': 75000.0, 'order_date': '28-11-2025'}
{'order_id': 1006, 'customer': 'Aravind', 'item': 'Logitec Mouse', 'quantity': 1, 'price_per_item': 800.0, 'order_date': '28-11-2025'}
{'order_id': 1007, 'customer': 'Megha', 'item': 'Logitec Keyboard', 'quantity': 1, 'price_per_item': 1200.0, 'order_date': '29-11-2025'}
{'order_id': 1008, 'customer': 'Mridula', 'item': 'Apple Smartphone', 'quantity': 2, 'price_per_item': 45000.0, 'order_date': '29-11-2025'}
{'order_id': 1009, 'customer': 'Saranya', 'item': 'Sony Headphones', 'quantity': 1, 'price_per_item': 1500.0, 'order_date': '30-11-2025'}
{'order_id': 1010, 'customer': 'Irene', 'item': 'Dell Laptop', 'quantity': 1, 'price_per_item': 75000.0, 'order_date': '30-11-2025'}

2.1 Calculate the total revenue for the store (sum of all quantities ×
price per item).

In [2]:
# Calculating Total Revenue for the store
total_Revenue = 0.0
for sale in sales_Data:
    order_Total = sale['quantity'] * sale['price_per_item']
    total_Revenue += order_Total

print(f"Total Revenue: {total_Revenue}")

Total Revenue: 368000.0

2.2 Identify all orders where the total order value (quantity × price
per item) exceeds ₹2,000. Store the result as a new list.

In [3]:
exceeded_value_Orders = []
base_Rate = 2000.0

for sale in sales_Data:
    order_Value = sale['quantity'] * sale['price_per_item']
    if order_Value > base_Rate:
        # New dictionary containing order details of cutomers that exceeded base rate > 2,000.
        exceeded_value_order_List = {
            'order_id': sale['order_id'],
            'customer': sale['customer'],
            'item': sale['item'],
            'quantity': sale['quantity'],
            'price_per_item': sale['price_per_item'],
            'order_date': sale['order_date'],
            'order_value': order_Value
        }
        exceeded_value_Orders.append(exceeded_value_order_List)

print("High-Value Orders (total value > ₹2,000):")
for order in exceeded_value_Orders:
    print(order)

High-Value Orders (total value > ₹2,000):
{'order_id': 1001, 'customer': 'Sandeep', 'item': 'Dell Laptop', 'quantity': 1, 'price_per_item': 75000.0, 'order_date': '25-11-2025', 'order_value': 75000.0}
{'order_id': 1002, 'customer': 'Deepasree', 'item': 'Sony Headphones', 'quantity': 2, 'price_per_item': 1500.0, 'order_date': '26-11-2025', 'order_value': 3000.0}
{'order_id': 1003, 'customer': 'Ahalya', 'item': 'Apple Smartphone', 'quantity': 1, 'price_per_item': 45000.0, 'order_date': '26-11-2025', 'order_value': 45000.0}
{'order_id': 1005, 'customer': 'Amalna', 'item': 'Dell Laptop', 'quantity': 1, 'price_per_item': 75000.0, 'order_date': '28-11-2025', 'order_value': 75000.0}
{'order_id': 1008, 'customer': 'Mridula', 'item': 'Apple Smartphone', 'quantity': 2, 'price_per_item': 45000.0, 'order_date': '29-11-2025', 'order_value': 90000.0}
{'order_id': 1010, 'customer': 'Irene', 'item': 'Dell Laptop', 'quantity': 1, 'price_per_item': 75000.0, 'order_date': '30-11-2025', 'order_value': 75000.0}

2.3 Find the item with the highest total quantity sold across all
orders.

In [12]:
# Step 1: New dictionary for quantities
item_quantities_Dict = {}

for sale in sales_Data:
    item = sale['item']
    quantity = sale['quantity']

    item_quantities_Dict[item] = item_quantities_Dict.get(item, 0) + quantity

# Hint.
# To find the item with the maximum quantity
# Laptop: Sold 3 times with 1 unit each = 3 units.
# Smartphone: Sold 2 times with 1 and 2 units = 3 units.
# Headphones: Sold 2 times with 2 and 1 units = 3 units.
# Charger: Sold 1 time with 3 units.

#print(item_quantities_Dict)
best_selling_item = max(item_quantities_Dict, key=item_quantities_Dict.get)
#print(type(best_selling_item))
#print(item_quantities_Dict[best_selling_item])
total_Qty = item_quantities_Dict[best_selling_item]
#print(total_Qty)
print(f"The Best Selling Item is '{best_selling_item}' with {total_Qty} units sold.")

The Best Selling Item is 'Dell Laptop' with 3 units sold.

3.1 Write a function apply_discount(orders, discount_rate) that takes
a list of orders and applies a percentage discount (e.g., 10% = 0.10) to
the price_per_item for each order.
Return a new list of orders (do not modify the original list).

In [13]:
import copy    # to copy the orginal data sale_Date to discount_orders
def apply_discount(orders, discount_rate):
    # deep copy to ensure the original data remains unchanged
    discounted_Orders = copy.deepcopy(orders)

    for order in discounted_Orders:
        original_Price = order['price_per_item']
        discount_Amount = original_Price * discount_rate
        new_Price = original_Price - discount_Amount
        order['price_per_item'] = round(new_Price, 2) # Update the price_per_item in the new list of orders.
    return discounted_Orders

In [16]:
discount_Rate=0.10
discounted_sales_data = apply_discount(sales_Data, discount_Rate) # calling created function.
#print(discounted_sales_data)
#print(sales_Data)
print("Original Data sale_Data:")
print(sales_Data[0])
print("\nDiscounted Data with 10% discount :")
print(discounted_sales_data[0])

Original Data sale_Data:
{'order_id': 1001, 'customer': 'Sandeep', 'item': 'Dell Laptop', 'quantity': 1, 'price_per_item': 75000.0, 'order_date': '25-11-2025'}

Discounted Data with 10% discount :
{'order_id': 1001, 'customer': 'Sandeep', 'item': 'Dell Laptop', 'quantity': 1, 'price_per_item': 67500.0, 'order_date': '25-11-2025'}

3.2 Explain, with a code example in your script, the difference
between local and global variable scope in Python.

In [21]:
# --- GLOBAL SCOPE ---
# This variable is accessible throughout the entire script
store_name = "ShopEase"

def global_Local_Variable(order_list):
    global store_name     #global variable declaration
    store_name = "ShopEase India"  # we can also change the value inside the fuction
    # --- LOCAL SCOPE ---
    # This variable (discount_status) accessible only inside this function or scope
    order_count = len(order_list)
    discount_status = "Applied"

    #print(f"[{store_name}] : Processing {order_count} orders. Discount Stataus  : {discount_status}")
    return f"Details : {store_name}: {order_count} orders processed; dicount status : {discount_status}"

In [22]:
# Checking the scopes
print(global_Local_Variable(sales_Data))

# Accessing the Global variable :
print(f"Welcome to the {store_name}")

# Accessing the Local variable will throw error:
try:
    print(discount_status)
except NameError as e:  # to catch exception
    print(f"Error: {e} (This is because 'discount_status' is local to the function)")

Details : ShopEase India: 10 orders processed; dicount status : Applied
Welcome to the ShopEase India
Error: name 'discount_status' is not defined (This is because 'discount_status' is local to the function)

4.1 Write a custom iterator class OrderIterator to iterate through the
orders, yielding one order at a time.

In [38]:
class OrderIterator:
    def __init__(self, orders): # Initialisation function
        # Store the list of orders and set an index = 0
        self._orders = orders
        self._index = 0
    def __iter__(self): # Iterate function ->This makes the class an iterable, allowing it to be used directly in for loops.
        return self
    def __next__(self): # It fetches the current item and increments the pointer. If the pointer exceeds the length of the list, it raises StopIteration
      # try:
        if self._index < len(self._orders):
            order = self._orders[self._index]
            self._index += 1
            return order
        else:
            # Raise StopIteration to signal the end of the loop
            raise StopIteration
      # except IndexError:
      #   raise StopIteration

In [39]:
order_iter = OrderIterator(sales_Data)

print("Iterating through orders using OrderIterator:")
for order in order_iter:
    print(f"Order ID: {order['order_id']} | Customer: {order['customer']}")

Iterating through orders using OrderIterator:
Order ID: 1001 | Customer: Sandeep
Order ID: 1002 | Customer: Deepasree
Order ID: 1003 | Customer: Ahalya
Order ID: 1004 | Customer: Aifa
Order ID: 1005 | Customer: Amalna
Order ID: 1006 | Customer: Aravind
Order ID: 1007 | Customer: Megha
Order ID: 1008 | Customer: Mridula
Order ID: 1009 | Customer: Saranya
Order ID: 1010 | Customer: Irene

4.2 Create a dictionary grouping all orders by customer using a
dictionary comprehension

In [46]:
# Customer names
customers = {order['customer'] for order in sales_Data}
#print(customers)
# Dictionary comprehension to group the orders
 #   {key_expression: value_expression for item in iterable [if condition]}
grouped_orders = {
    name: [order for order in sales_Data if order['customer'] == name] for name in customers
}
#print(grouped_orders)

for customer, orders in grouped_orders.items():
    print(f"{customer}: {len(orders)} order's")

Ahalya: 1 order's
Sandeep: 1 order's
Deepasree: 1 order's
Megha: 1 order's
Mridula: 1 order's
Saranya: 1 order's
Irene: 1 order's
Amalna: 1 order's
Aravind: 1 order's
Aifa: 1 order's