<a href="https://colab.research.google.com/github/sandeepProject/ICTTestRepo/blob/main/IA2_LoanPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [342]:
import pandas as pd
import numpy as np

In [343]:
# Load Data
train_df = pd.read_csv('/content/train_ctrUa4K.csv')
test_df = pd.read_csv('/content/test_lAUu6dG.csv')
test_ids = test_df['Loan_ID'].copy()

In [344]:
train_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [345]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [346]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [347]:
print(f'train_df : {train_df.columns}')
print(f'test_df : {test_df.columns}')

train_df : Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')
test_df : Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [348]:
print(f'train_df : {train_df.columns}')
print(f'test_df : {test_df.columns}')

train_df : Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')
test_df : Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [349]:
# Impute missing values (Mode for categorical, Median for numerical)

print(f' Gender : {train_df['Gender'].nunique()}')
print(f' Married : {train_df['Married'].nunique()}')
print(f' Dependents : {train_df['Dependents'].nunique()}')
print(f' Education : {train_df['Education'].nunique()}')
print(f' Self_Employed : {train_df['Self_Employed'].nunique()}')
print(f' Property_Area : {train_df['Property_Area'].nunique()}')
print(f' Loan_Status : {train_df['Loan_Status'].nunique()}')
print(f' Loan_Amount_Term : {train_df['Loan_Amount_Term'].nunique()}')
print(f' Credit_History : {train_df['Credit_History'].nunique()}')

 Gender : 2
 Married : 2
 Dependents : 4
 Education : 2
 Self_Employed : 2
 Property_Area : 3
 Loan_Status : 2
 Loan_Amount_Term : 10
 Credit_History : 2

In [350]:
print(f' Gender : {train_df['Gender'].unique()}')
print(f' Married : {train_df['Married'].unique()}')
print(f' Dependents : {train_df['Dependents'].unique()}')
print(f' Education : {train_df['Education'].unique()}')
print(f' Self_Employed : {train_df['Self_Employed'].unique()}')
print(f' Property_Area : {train_df['Property_Area'].unique()}')
print(f' Loan_Status : {train_df['Loan_Status'].unique()}')
print(f' Loan_Amount_Term : {train_df['Loan_Amount_Term'].unique()}')
print(f' Credit_History : {train_df['Credit_History'].unique()}')

 Gender : ['Male' 'Female' nan]
 Married : ['No' 'Yes' nan]
 Dependents : ['0' '1' '2' '3+' nan]
 Education : ['Graduate' 'Not Graduate']
 Self_Employed : ['No' 'Yes' nan]
 Property_Area : ['Urban' 'Rural' 'Semiurban']
 Loan_Status : ['Y' 'N']
 Loan_Amount_Term : [360. 120. 240.  nan 180.  60. 300. 480.  36.  84.  12.]
 Credit_History : [ 1.  0. nan]

In [351]:
print(train_df.isna().sum())

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [352]:
# Preprocessing and Feature Eng.
def preprocess_data(df):
    df = df.copy()
    df['Dependents'] = df['Dependents'].replace('3+', 3).astype(float)
    binary_map = {'Male': 1, 'Female': 0, 'Yes': 1, 'No': 0, 'Graduate': 1, 'Not Graduate': 0}
    for col in ['Gender', 'Married', 'Education', 'Self_Employed']:
        df[col] = df[col].map(binary_map)
    df['Property_Area'] = df['Property_Area'].map({'Urban': 2, 'Semiurban': 1, 'Rural': 0})
    df['Total_Income'] = df['ApplicantIncome'] + df['CoapplicantIncome']
    #df['Total_Income_Log'] = np.log(df['Total_Income'])
    df = df.drop(['ApplicantIncome', 'CoapplicantIncome'], axis=1)

    return df.drop('Loan_ID', axis=1, errors='ignore')

In [353]:
# Prepare X and y
X = preprocess_data(train_df).drop('Loan_Status', axis=1)
y = train_df['Loan_Status'].map({'Y': 1, 'N': 0})
X_test_final = preprocess_data(test_df)

In [354]:
X.isna().sum()

Gender              13
Married              3
Dependents          15
Education            0
Self_Employed       32
LoanAmount          22
Loan_Amount_Term    14
Credit_History      50
Property_Area        0
Total_Income         0
dtype: int64

In [355]:
# KNN IMPUTATION
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
X_imputed = pd.DataFrame(imputer.fit_transform(X), columns=X.columns)
X_test_imputed = pd.DataFrame(imputer.transform(X_test_final), columns=X.columns)

# Round categorical results
round_cols = ['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area', 'Dependents', 'Credit_History']
for col in round_cols:
    X_imputed[col] = X_imputed[col].round()
    X_test_imputed[col] = X_test_imputed[col].round()

In [356]:
X_imputed.isna().sum()

Gender              0
Married             0
Dependents          0
Education           0
Self_Employed       0
LoanAmount          0
Loan_Amount_Term    0
Credit_History      0
Property_Area       0
Total_Income        0
dtype: int64

In [357]:
X_test_imputed.isna().sum()

Gender              0
Married             0
Dependents          0
Education           0
Self_Employed       0
LoanAmount          0
Loan_Amount_Term    0
Credit_History      0
Property_Area       0
Total_Income        0
dtype: int64

In [358]:
X_imputed.head()

,Gender,Married,Dependents,Education,Self_Employed,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Total_Income
0,1.0,0.0,0.0,1.0,0.0,132.2,360.0,1.0,2.0,5849.0
1,1.0,1.0,1.0,1.0,0.0,128.0,360.0,1.0,0.0,6091.0
2,1.0,1.0,0.0,1.0,1.0,66.0,360.0,1.0,2.0,3000.0
3,1.0,1.0,0.0,0.0,0.0,120.0,360.0,1.0,2.0,4941.0
4,1.0,0.0,0.0,1.0,0.0,141.0,360.0,1.0,2.0,6000.0

In [359]:
# 3. DEFINE MODELS
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
models = {
    "Logistic Regression": LogisticRegression(max_iter=1000, solver='liblinear'),
    "SVM (Radial)": SVC(kernel='rbf', probability=True),
    "Random Forest": RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42),
    "XGBoost": XGBClassifier(eval_metric='logloss', learning_rate=0.1, max_depth=4),
    "Gradient Boosting": GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3)
}

In [360]:
# EVALUATE ALL MODELS
results = {}
print("--- Model Accuracy Comparison (Cross-Validation) ---")
for name, model in models.items():
    # Used 5-fold cross-validation to get a stable accuracy score
    cv_scores = cross_val_score(model, X_imputed, y, cv=5, scoring='accuracy')
    results[name] = cv_scores.mean()
    print(f"{name}: {cv_scores.mean():.4f}")

--- Model Accuracy Comparison (Cross-Validation) ---
Logistic Regression: 0.8029
SVM (Radial): 0.6840
Random Forest: 0.7981
XGBoost: 0.7916
Gradient Boosting: 0.7900

In [361]:
# SELECT BEST MODEL & GENERATE SUBMISSION
best_model_name = max(results, key=results.get)
print(f"\nBest Model: {best_model_name}")

best_model = models[best_model_name]
best_model.fit(X_imputed, y)
final_preds = best_model.predict(X_test_imputed)

Best Model: Logistic Regression

In [362]:
# EXPORT
submission = pd.DataFrame({
    'Loan_ID': test_ids,
    'Loan_Status': ['Y' if p == 1 else 'N' for p in final_preds]
})
submission.to_csv('CV_optimized_submission.csv', index=False)
print("SUCCESS: 'CV_optimized_submission.csv' generated.")

SUCCESS: 'CV_optimized_submission.csv' generated.

In [363]:
# lr_for_selection = LogisticRegression(max_iter=1000, solver='liblinear', C=1)
# lr_for_selection.fit(X_imputed, y)

# importance = pd.Series(np.abs(lr_for_selection.coef_[0]), index=X_imputed.columns)
# bottom_3_features = importance.nsmallest(3).index.tolist()

# print(f"Dropping noise features: {bottom_3_features}")

# # 2. DROP FEATURES AND RE-PREPARE DATA
# X_refined = X_imputed.drop(columns=bottom_3_features)
# X_test_refined = X_test_imputed.drop(columns=bottom_3_features)

# # 3. RE-RUN GRIDSEARCH ON REFINED DATA
# # Logistic Regression is your current champion at 80.29%
# param_grid = {
#     'C': [0.01, 0.1, 1, 10, 100],
#     'penalty': ['l1', 'l2'],
#     'solver': ['liblinear'] # Best for small datasets like this
# }
# from sklearn.model_selection import GridSearchCV
# grid_refined = GridSearchCV(LogisticRegression(max_iter=1000),
#                              param_grid, cv=5, scoring='accuracy', n_jobs=-1)

# grid_refined.fit(X_refined, y)

# print(f"\nRefined CV Accuracy: {grid_refined.best_score_:.4f}")
# print(f"Best Params: {grid_refined.best_params_}")

In [364]:
# DEFINE MODELS AND PARAMETER GRIDS
from sklearn.model_selection import GridSearchCV
model_params = {
    "Logistic_Regression": {
        "model": LogisticRegression(max_iter=1000, solver='liblinear'),
        "params": {
            "C": [0.01, 0.1, 1, 10],
            "penalty": ['l1', 'l2']
        }
    },
    "Random_Forest": {
        "model": RandomForestClassifier(random_state=42),
        "params": {
            "n_estimators": [50, 100, 200],
            "max_depth": [3, 5, 7],
            "criterion": ['gini', 'entropy']
        }
    },
    "XGBoost": {
        "model": XGBClassifier(eval_metric='logloss', random_state=42),
        "params": {
            "n_estimators": [50, 100],
            "max_depth": [3, 4, 5],
            "learning_rate": [0.01, 0.1, 0.2]
        }
    }
}

# RUN GRID SEARCH FOR EACH MODEL
best_models = {}
scores = []

print("--- Starting Hyperparameter Tuning (GridSearchCV) ---")
for model_name, mp in model_params.items():
    grid = GridSearchCV(mp['model'], mp['params'], cv=5, scoring='accuracy', n_jobs=-1)
    grid.fit(X_imputed, y)

    best_models[model_name] = grid.best_estimator_
    scores.append({
        'model': model_name,
        'best_score': grid.best_score_,
        'best_params': grid.best_params_
    })
    print(f"Finished {model_name}. Best Score: {grid.best_score_:.4f}")

# SELECT WINNER AND GENERATE SUBMISSION
results_df = pd.DataFrame(scores, columns=['model', 'best_score', 'best_params'])
top_model_name = results_df.sort_values(by='best_score', ascending=False).iloc[0]['model']
print(f"\nOverall Winning Model: {top_model_name}")

# Generate predictions using the best tuned model
winner_model = best_models[top_model_name]
final_preds_GSCV = winner_model.predict(X_test_imputed)

--- Starting Hyperparameter Tuning (GridSearchCV) ---
Finished Logistic_Regression. Best Score: 0.8046
Finished Random_Forest. Best Score: 0.7997
Finished XGBoost. Best Score: 0.8078

Overall Winning Model: XGBoost

In [365]:
# EXPORT
submission = pd.DataFrame({
    'Loan_ID': test_ids,
    'Loan_Status': ['Y' if p == 1 else 'N' for p in final_preds_GSCV]
})
submission.to_csv('GSCV_optimized_submission.csv', index=False)
print("SUCCESS: 'GSCV_optimized_submission.csv' generated.")

SUCCESS: 'GSCV_optimized_submission.csv' generated.